<h1>{{title}} - Perfect vacations since 2016.</h1>
<div style="max-width: 800px">
    <div style="float:left">
        <p>Welcome to {{title}} - Apartments in Tel Aviv for short terms</p>
        <ul>
            <li>Visit our <a href="https://www.airbnb.com/users/7372180/listings">AirBnb Website</a> to see our
                properties.
            </li>
            <li>For inquires <a href="mailto:yarden@stk-properties.com">yarden@stk-properties.com</a></li>

        </ul>
    </div>
    <div style="max-width: 200px;float:right">
        <div class="airbnb-embed-frame" data-user-id="7372180" data-review-count="339" data-view="review_button"
             data-eb="1493835978_2GI9FIsx3Dep0whj"
             data-eu="bqwhj40ThvbFBNdqPaXvGeD9+1YszxPRJqdenP7v6n5FCbz1TJzRZPNCHZJz ASsVgZqpArMlfDW2iBmvUi1OxKwYDzDl/D5ty8eaGFpW6lNpTUHIPg9+UYQC VBneLcuYHrKQG6S4RXiu2MmkAtvan5wjVr80Y4YUez0xsi27TE9ZokRvOsTk Qjtb0Z6FRI8zucDdNbp/0X4vD+ncHRfk/N/uTGmS0Ub2A6kFICCs+QHlo14J CjiaXLxurqMTroLzj7DVV30Ld83TrWTdniAm+brU+c3tKNilwmqNtpMZJrnm 9gOkXA0pxy9vJU+lqbmFuxxP7Kn0LdK4n6gh9AN+tw== "
             data-trigger-source-type="badge_center" data-embed-source-type="badge_center"
             style="height:80px;margin:auto;">
            <a href="https://www.airbnb.com/users/show/7372180"><span>Reviews</span></a>
            <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
        </div>
        <div class="airbnb-embed-frame" data-user-id="7372180" data-view="superhost_button" data-city="Tel Aviv-Yafo"
             data-city-url="https://www.airbnb.com/s/Tel-Aviv~Yafo--Israel" data-eb="1493835978_2GI9FIsx3Dep0whj"
             data-eu="bqwhj40ThvbFBNdqPaXvGeD9+1YszxPRJqdenP7v6n5FCbz1TJzRZPNCHZJz ASsVgZqpArMlfDW2iBmvUi1OxKwYDzDl/D5ty8eaGFpW6lNpTUHIPg9+UYQC VBneLcuYHrKQG6S4RXiu2MmkAtvan5wjVr80Y4YUez0xsi27TE9ZokRvOsTk Qjtb0Z6FRI8zucDdNbp/0X4vD+ncHRfk/N/uTGmS0Ub2A6kFICCs+QHlo14J CjiaXLxurqMTroLzj7DVV30Ld83TrWTdniAm+brU+c3tKNilwmqNtpMZJrnm 9gOkXA0pxy9vJU+lqbmFuxxP7Kn0LdK4n6gh9AN+tw== "
             data-trigger-source-type="badge_center" data-embed-source-type="badge_center"
             style="margin:auto;height:85px;">
            <a href="https://www.airbnb.com/users/show/7372180" rel="nofollow">Superhost</a>
            <div>in Tel Aviv-Yafo</div>
            <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
        </div>
    </div>
</div>